// Place all the styles related to the Travel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background: url("https://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469437273Csn.jpg") no-repeat 0 0;
  background-size: 100%;
}
h1 {
font-family: "Lucida Console", Monaco, monospace;
color: white;
font-size: 6rem;
letter-spacing: 0px;
word-spacing: 0.6px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
}
h2 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h4 {
  color: black;
}
p {
  font-size: 150%;
}
button {
  margin: 4rem;
  border-radius: .75rem;
  padding: 4rem;
  font-family: fantasy;
  background-color: #CCFFFF;
  cursor: pointer;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
footer {
  padding: 2rem;
  text-align: left;
}

.newLogo {
  width: 15%;
  background-color: transparent;

}

.userInput {
  border-radius: .5rem;
  font-size: 2rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #606060;
  color: #fff;
  border-radius: 10px;
  /* border-radius: .5rem; */
  /* padding: 1rem; */
  background-color: transparent;
}
